@charset "UTF-8";


html {
    font-size: 62.5%;
  }
  h1 {
    font-size: 2.4rem; 
  }
  
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.6rem;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
  width: 100vw;
  text-align: center;
}

.banner{
    background-image: url(assets/images/banner.png);
    width: 100%;
    box-shadow: 2px 2px 2px rgba(22, 155, 231, 0.2);

}


.banner-content{
    padding: 1.3rem;
    margin: 1.4rem;
}

p {
    font-size: 1.6rem; 
    font-weight: 200; 
    color: #b3b3b3; 
    line-height: 1.8; 
    margin: 0.5rem 0;
    font-family: 'Roboto', sans-serif; 
}

.banner-content button{
    margin-top: 1rem;
    padding: 1.2rem 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #3369df;
    border: solid 1px #3369df;
    background-color: transparent;
    border-radius: 0.3rem;
    cursor: pointer;
}

.banner-content button:hover{
    font-size: 2rem;
    transition-duration: 0.4s;
}

h1,h2 {
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    background-image: url(assets/images/h1-fundo.jpg);
    text-shadow: 4px 4px 6px rgba(9, 161, 221, 0.5);
    font-size: 3rem; 
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

.modules-list {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .module {
    display: inline-block; 
    padding: 1rem 1.5rem;
    border: 1px solid rgba(19, 97, 241, 0.849);
    border-radius: 1.5rem;
    color: rgba(187, 214, 240, 0.849);
    background-color: transparent;
    margin: 1rem 0 1rem 0;
    padding: 1.8rem;
    box-shadow: 2px 2px 2px rgba(22, 155, 231, 0.2);
  }
  
  .module span {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    background-image: url(assets/images/h1-fundo.jpg);
    text-shadow: 4px 4px 6px rgba(21, 106, 235, 0.5);
    margin: 0.8rem;
  }
  


.module:hover {
    background-color: #333333;
    transform: scale(1.02);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.transform-world {
    background-image: url(assets/images/woman-code.png); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    width: 100%; 
    height: 300px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: blanchedalmond; 
    font-size: 5.4rem;
    font-weight:bold;
    padding: 1rem;
    text-shadow: 4px 4px 6px rgba(135, 199, 224, 0.5)
    ;
    box-shadow: 2px 2px 2px rgba(22, 155, 231, 0.2);

}

#professional-challenges {
    box-shadow: 2px 2px 2px rgba(22, 155, 231, 0.2);
    margin-bottom: 4rem;
}

footer{
    margin: 2rem;
    padding: 2rem;
    
}


